@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  max-width: 1920px;
  margin: auto;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
    font-family: Inter, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* @font-face {
  font-family: 'inter';
  src: url(/public/fonts/Circular-Light.otf);
} */